<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="mapper.BoardMapper"> 

<select id="selectAll" parameterType="hashMap" resultType="BoardRec"> 
SELECT * FROM ARTICLE WHERE ARTICLE_ID IN(select ARTICLE_ID from
					(select rownum rnum,ARTICLE_ID from
					(select ARTICLE_ID from ARTICLE order by ARTICLE_ID desc))
					where rnum between #{first} and #{end})
					ORDER BY ARTICLE_ID DESC
</select>

<select id="selectTotal" resultType="int"> 
SELECT Count(*) from ARTICLE
</select>
</mapper>